{% extends 'layout.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

{% endblock %}

{% block content %}

<section id="container">


    <div id="login_section">
        <h1 class="logo"><a href="#" class="icon--main-logo"></a>FACEBOOK</h1>
        <form method="POST" action="{% url 'accounts:login' %}">
            {% csrf_token %}            
            <div class="id_section">
                <div><label for="id_username">아이디</label></div>
                <div><input type="text" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}"></div>
            </div>

            <div class="pw_section">
                <div><label for="pw_field">비밀번호</label></div>
                <div><input type="password" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name}}"></div>
            </div>

            <input type="submit" value="SIGN IN" id="submitBtn">

            <div class="signup"><a href="{% url 'accounts:signup' %}">아직도 회원이 아니신가요?</a></div>

        </form>
    </div>


</section>

{% endblock %}

{% block js %}
{% endblock %}